nav ul {
    display: flex;
    gap: 1.5rem;
  }
  
  nav ul li a {
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
  
    &:hover {
      color: #ff4081; /* Color al pasar el mouse */
    }
  }
  