// Colores
$color-texto: #444;
$color-sombra: rgba(0, 0, 0, 0.2);

// Condicional de modo oscuro 
$modo-oscuro: false;

// Tamaños
$ancho-maximo-img: 850px;
$ancho-img: 85%;
$espaciado-galeria: 40px;
$padding-galeria: 30px;

//fuentes
$fuente-principal: 'Open Sans', sans-serif;
